
h1{
  text-align: center;
  font-family:fantasy;
  background-color:blue;
  font-size: 40px;
}


body {
  background-color:  #777799;
  text-align: center;
  font-family: serif;
  border: 2px solid powderblue;
  padding: 30px;

}
div { text-align: center; }
ul { display: inline-block; text-align: left; }

.STRENGTHS{
  background-color:#D98880;
  color: white;
  border: 2px solid black;
  margin:10px;
  padding:10px;
}
